@import "../vars";
.tp2 {
}

.tp2-logo, .tp2-titre {
  background-color: red;
}

.tp2-logo {
  width: 200px;
  height: 200px;
}

.tp2-titre {
  width: 200px;
  height: 50x;
}

.tp2-menu {
  width: 300px;
  height: 50px;
  background-color: blue;
}
